.user
{
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1000;
    height: 11vh;
    width: 90vw;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	/*box-shadow: 0 4px 1px var(--color);*/
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.user label
{
	margin-left: -5vw;
	margin-right: 30vw;
}

.user p
{
	font-size: 1.5em;
}

.user > *
{
	margin: 0 10vw;
}