.bgcolor
{
	position: relative;
	background-color: var(--ion-color-step-150);
	height: 30vh;
	width: 90vw;
	left: 5vw;
	top: 7vh;
	border-radius: 1em;
}

.bgcolor > *
{
	padding-top: 8vh;
	margin-left: 10vw;
	margin-right: 10vw;
}